
// Media Queries
@mixin respond-to($breakpoint) {
    @if $breakpoint == mobile {
        @media (max-width: 767px) {
            h1 {
                font-size: 2.5rem;
              }
              
              .titulo-tec {
                font-size: 2.8rem;
              }
              
              h2 {
                font-size: 2.3rem;
              }
              
              h3 {
                font-size: 2.2rem;
              }
              
              .progreso,
              .prox,
              .cursos,
              .title {
                width: 95%;
                margin: 2% 2%;
                padding: 2%;
              
                img {
                  width: 4rem;
                  height: auto;
                  margin: 1rem;
                }
              }
        }
        .cursos{
            margin-bottom: 20%;
        }
        
        
    }
    
    @else if $breakpoint == tablet {
        @media (min-width: 768px) {
            .progreso, 
            .prox, 
            .cursos, 
            .title {
                width: 80%;
              }
        }
    }
    @else if $breakpoint == desktop {
        @media (min-width: 992px) {
            .progreso,
            .prox,
            .cursos,
            .title {
             width: 90%;

            img {
             width: 9rem;
                height: auto;
                margin: 1rem;
            }
            }
                }
                }
            }