@import "../utilidades/variables";
@import "../utilidades/mixins";
@import "../utilidades/mediasqueris";

h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    padding: 2rem 1rem;
    letter-spacing: 0.3rem;
}

body section div div p {
    text-align: justify;
    letter-spacing: 0.3rem;
    font-size: 1.5rem;
    font-weight: 700;
}